---
import Layout from "../components/Layout.astro";
---

<Layout>
  <div class="w-3/4 mx-auto">
    <h2
      class="text-center pt-10 text-5xl text-slate-800 font-title font-medium leading-relaxed container mx-auto"
    >
      Divulgación
    </h2>
    <p class="text-black pb-10 text-center">
      Por favor, eche un vistazo a los siguientes sitios web:
    </p>
    <div class="grid md:grid-cols-2 gap-10 pb-10">
      <div class="bg-white border border-gray-200 rounded-lg shadow">
        <div class="h-[300px] flex items-center">
          <a href="#">
            <img
              class="rounded-t-lg"
              src="Img/Components/LIRFFF-Genero.jpeg"
              alt=""
            />
          </a>
        </div>
        <div class="p-5 h-[350px]">
          <div class="h-full flex flex-col justify-between">
            <a href="https://www.ingenieria.unam.mx/paginas/genero/cinig.php">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-black font-title"
              >
                Comisión Interna para la Igualdad de Género de la FI
              </h5>
            </a>
            <p class="mb-3 font-normal text-black">
              Su propósito radica en fortalecer una cultura de cambio
              institucional con perspectiva de género, centrada en el
              fortalecimiento de las perspectivas, actitudes y prácticas, cuyo
              propósito es hacer prevalecer el respeto y la convivencia plural
              entre la comunidad, conforme a los valores universitarios.
            </p>
            <div>
              <a href="https://www.ingenieria.unam.mx/paginas/genero/cinig.php">
                <i class="fa-solid fa-globe text-primary mx-1 fa-xl hover:text-info"></i>
              </a>
              <a href="https://www.facebook.com/CINIGFI/">
                <i class="fa-brands fa-square-facebook text-primary fa-xl hover:text-info"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white border border-gray-200 rounded-lg shadow">
        <div class="h-[300px] flex items-center">
          <img
            class="rounded-t-lg w-full h-full object-contain"
            src="Img/Components/LIRFFF-DICT-Redes.jpeg"
            alt=""
          />
        </div>
        <div class="p-5 h-[350px]">
          <div class="h-full flex flex-col justify-between">
            <a href="https://www.instagram.com/sig.dict/?hl=es-la">
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-black font-title"
              >
              Subcomisión para la igualdad de género
              </h5>
            </a>
            <p class="mb-3 font-normal text-black">
              Su propósito es el de apoyar a la Comosión Interna para la Igualdad
              de Género de la Facultad de Ingeniería de la UNAM, promoviendo y
              difundiendo información sobre procediminetos y protocolos
              universitarios en materia de género, en la División de Ciencias de
              la Tierra.
            </p>
            <div>
              <a href="https://www.instagram.com/sig.dict/?hl=es-la">
                <i class="fa-brands fa-instagram text-primary mx-1 fa-xl hover:text-info"></i>
              </a>
              <a href="https://www.facebook.com/Subcomisi%C3%B3n-para-la-Igualdad-de-G%C3%A9nero-105643932036031">
                <i class="fa-brands fa-square-facebook text-primary fa-xl hover:text-info"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
