---
interface Props {
  id: number;
  name: string;
  img: string;
  category: string;
}

const {id, name, img, category} = Astro.props;

---

<div class="card card-compact h-96 bg-white border shadow-sm">
  <figure>
    <img src={img} alt="miebro" class="w-full h-full object-cover object-top"/>
  </figure>
  <div class="card-body">
    <h2 class="card-title text-black">{name}</h2>
    <p class="text-secondary">{category}</p>
  </div>
</div>