<footer class="bg-base-200">
  <div class="footer p-10 text-base-content container mx-auto">
    <aside class="">
      <img src="Img/Components/LIRFFF-Logo-UNAM.png" alt="" class="w-20" />
      <p>
        Laboratorio de interacción roca-fluido y fluido-fluido <br />
         Facultad de Ingeniería <br />
         Edifio 12 "Bernardo Quintana" <br />
         Piso 3, cubiculo 13
      </p>
    </aside>
    <nav class="h-full">
      <header class="footer-title">Consulta</header>
      <a href="https://www.ingenieria.unam.mx" target="_blank" class="link link-hover">Facultad de Ingeniería</a>
      <a href="http://www.dict.unam.mx/" target="_blank" class="link link-hover">DICT</a>
      <a href="http://www.dict.unam.mx/petrolera" target="_blank" class="link link-hover">Departamento de Petrolera</a>
      <a href="https://posgrado.unam.mx/ingenieria" target="_blank" class="link link-hover">Posgrado</a>
    </nav>
  </div>
</footer>
