<header
  class="bg-primary flex justify-center items-center md:justify-between xl:px-52 md:px-24"
>
  <img src="/Img/Components/LIRFFF-logo-fi.png" alt="" class="w-52 mr-4" />
  <ul class="hidden md:block text-sm">
    <li>
      <i class="fa-solid fa-envelope text-accent"></i>
      <a class="hover:text-info" href="mailto:p.gomora@unam.mx">
        p.gomora@unam.mx
      </a>
    </li>
    <li>
      <i class="fa-solid fa-envelope text-accent"></i>
      <a class="hover:text-info" href="mailto:paulinagomora@gmail.com">
        paulinagomora@gmail.com
      </a>
    </li>
    <li>
      <i class="fa-solid fa-phone text-accent"></i>
      <a class="hover:text-info" href="tel:+52 1 55 56223017">
        55-56-22-30-17
      </a>
      <span class="ms-2 text-sm">Ext. 114</span>
    </li>
  </ul>
</header>
